.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary,
.mat-datepicker-toggle-active,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-icon.mat-primary,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $color-primary
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate,
.mat-badge-content,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element,
.mat-toolbar.mat-primary {
  background: $color-primary
}

.mat-button.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-primary .mat-button-focus-overlay,
.mat-stroked-button.mat-primary .mat-button-focus-overlay,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary,
.mat-calendar-body-selected,
.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-progress-bar-fill::after,
.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple,
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb,
.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element,
.mat-primary .mat-slider-track-fill,
.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit,
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar,
.mat-tab-group.mat-background-primary>.mat-tab-header,
.mat-tab-group.mat-background-primary>.mat-tab-link-container,
.mat-tab-group.mat-background-primary>.mat-tab-header-pagination,
.mat-tab-nav-bar.mat-background-primary>.mat-tab-header,
.mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container,
.mat-tab-nav-bar.mat-background-primary>.mat-tab-header-pagination {
  background-color: $color-primary
}

.mat-input-element {
  caret-color: $color-primary
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $color-primary
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-primary
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $color-primary;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-primary;
}
