.mat-paginator {
  .mat-paginator-page-size {
    margin-top: 1rem;
  }

  .mat-paginator-range-actions {
    margin-top: 2rem;
  }

  .mat-form-field-appearance-fill {
    .mat-select-arrow-wrapper {
      transform: translateY(0%);
    }
  }
}
