# Apple crud
.DS_Store

# No Vagrant Files
.vagrant

# Ansible Retry Files
*.retry

# git folder
# .git

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

