<mat-form-field>
  <mat-label>Select Country</mat-label>
  <input
    id="selectCountry"
    matInput
    type="text"
    (ngModelChange)="countrySelection($event)"
    [matAutocomplete]="auto"
    [formControl]="autoCompleteCountryFormControl"
    placeholder="{{ countryLabel ? countryLabel.name : 'Select Country' }}" />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry" class="nice-scrollbar">
    <mat-option *ngFor="let country of filteredCountries | async" [value]="country" data-cy="country-select-option">
      {{ country.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
